<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Person's Register page</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style type="text/css">
table.striped>tbody>tr:nth-child(odd){
	background-color: rgba(158, 158, 154, 0.5)
}
form input[type=submit]{
	color: white;
}

</style>

</head>
<body>
<h3>Spring Boot + Thymeleaf + Material Design Lite</h3> <br/>
<h5>Person's Register:</h5>
	<div class="row">
	
	<br/>
	<div th:each = "m : ${msg}">
		<span th:text = "${m}" style="color: red;"></span>
	</div>	
	<br/>
	
	<form action="saveperson" id="formperson" method="post" th:object="${personobj}" class="col s12">
		<div class="row">
			<div class="input-fiel col s6">
				<label for="id" class="active">Id:</label>
				<input name="id" th:field="*{id}" readonly="readonly" id="id">
			</div>
			<div class="input-fiel col s6">	
				<label for="name" class="active">Name:</label>
				<input name="name" th:field="*{name}" id="name" class="validate">
			</div>	
		</div>
		<div class="row">
			<div class="input-fiel col s12">		
				<label for="surname" class="active">Surname:</label>
				<input name="surname" th:field="*{surname}" id="surname" class="validate">
			</div>
		</div>	
		<div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="input-fiel col s12">	
				<label for="age" class="active">Age:</label>
				<input name="age" th:field="*{age}" id="age" class="validate">
			</div>
		</div>		
		<div class="row">
		<div class="input-fiel col s6">
			<input class="waves-effect waves-light btn" type="submit" value="Save">
			<button class="waves-effect waves-light btn" onclick="document.getElementById('formperson').reset();">New</button>
		</div>
		</div>
	</form>
	</div>
	
	<br/>
	<br/>
	
	<div class="row">
		<form action="findperson" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="findname" class="active" >Find By Name:</label>	
					<input name="findname" id="findname" class="validate">
					<input class="waves-effect waves-light btn" type="submit" value="Find">
					<a class="waves-effect waves-light btn" href="personslist">Person's List</a>
				</div>
			</div>
		</form>
	</div>
	
	<br/>
	<br/>	
	<table class="striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Age</th>
				<th>Editing</th>
				<th>Removing</th>
			</tr>
		</thead>
		<tr th:each = "person : ${persons}">
			<td th:text = "${person.id}"></td>
			<td>
				<a th:href="@{/phones/{idperson}(idperson=${person.id})}">
					<span th:text = "${person.name}"></span>
				</a>
			</td>
			<td th:text = "${person.surname}"></td>
			<td th:text = "${person.age}"></td>
			<td><a th:href="@{/editperson/{idperson}(idperson=${person.id})}">Edit</a></td>
			<td><a th:href="@{/deleteperson/{idperson}(idperson=${person.id})}">Delete</a></td>
		</tr>	
	</table>
	

</body>
</html>