<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

</head>
<body>
	<form action="saveperson" method="post" th:object="${personobj}">
		<label>Id:</label>
		<input name="id" th:field="*{id}" readonly="readonly">
		<label>Name:</label>
		<input name="name" th:field="*{name}">
		<label>Surname:</label>
		<input name="surname" th:field="*{surname}">
		<label>Age:</label>
		<input name="age" th:field="*{age}">
		<input class="waves-effect waves-light btn" type="submit" value="Save">
	</form>
	
	<br/>
	<br/>
	<a href="personslist">Person's List</a>
	<br/>
	<br/>	
	
	<form action="findperson" method="post">
		<label>Find By Name:</label>	
		<input name="findname">
		<input class="waves-effect waves-light btn" type="submit" value="Find">
	</form>
	
	<br/>
	<br/>	
	<table>
		<tr th:each = "person : ${persons}">
			<td th:text = "${person.id}"></td>
			<td th:text = "${person.name}"></td>
			<td th:text = "${person.surname}"></td>
			<td th:text = "${person.age}"></td>
			<td><a th:href="@{/editperson/{idperson}(idperson=${person.id})}">Edit</a></td>
			<td><a th:href="@{/deleteperson/{idperson}(idperson=${person.id})}">Delete</a></td>
		</tr>	
	</table>
	
<script type="text/javascript" src="/materialize/js/materialize.js"></script>	
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>	
</body>
</html>