<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

</head>
<body>
	<form action="saveperson" method="post">
		<label>Name:</label>
		<input name="name">
		<label>Surname:</label>
		<input name="surname">
		<label>Age:</label>
		<input name="age">
		<button class="btn waves-effect waves-light" type="submit" name="Save">Save
    		<i class="material-icons right">send</i>
  		</button>
	</form>
	
	<a href="personslist">Person's List</a>
	
	<table>
		<tr th:each = "person : ${persons}">
			<td th:text = "${person.id}"></td>
			<td th:text = "${person.name}"></td>
			<td th:text = "${person.surname}"></td>
			<td th:text = "${person.age}"></td>
		</tr>	
	</table>
	
<script type="text/javascript" src="materialize/js/materialize.js"></script>	
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>	
</body>
</html>