<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

<style type="text/css">
table.striped>tbody>tr:nth-child(odd){
	background-color: rgba(158, 158, 154, 0.5)
}
form input[type=submit]{
	color: white;
}

</style>

</head>
<body>
<h3>Spring Boot + Thymeleaf + Material Design Lite</h3> <br/>
<br/>
<a class="waves-effect waves-light btn" href="/personregister">Person Register</a>
<br/>
<h5>Phones' Register:</h5>

	<br/>
	<div th:each = "m : ${msg}">
		<span th:text = "${m}" style="color: red;"></span>
	</div>	
	<br/>

<div th:each="p : ${personobj}">
	<div class="row">
		<p>Id: <span th:text="${p.id}"></span></p>
		<p>Name: <span th:text="${p.name}"></span></p>
		<p>Surname: <span th:text="${p.surname}"></span></p>
		<p>Age: <span th:text="${p.age}"></span></p>
	</div>
</div>

<h5>Phones</h5>
<div class="row">
	<form th:action="@{/addphoneperson/{personid}(personid=${personobj.id})}"
	 method="post" class="col s12" onsubmit="return validateField()? true : false">
		<div class="row">
			<div class="input-field col s6">
				<label class="active" for="number">Number: </label>
				<input id="number" name="number" class="validate">
			</div>
			<div class="input-field col s6">
				<label class="active" for="type">Type: </label>
				<input id="type" name="type" class="validate">
			</div>	
			
			<input type="submit" value="Add" class="waves-effect waves-light btn">		
		</div>
	</form>
</div>

<table class="striped">
	<thead>
		<tr>
			<th>Number</th>
			<th>Type</th>
			<th>Removing</th>
		</tr>
	</thead>
	<tr th:each = "telephone : ${phones}">
		<td th:text = "${telephone.number}"></td>
		<td th:text = "${telephone.type}"></td>
		<td><a th:href="@{/deletephone/{idphone}(idphone=${telephone.id})}">Delete</a></td>
	</tr>
</table>
	
<script type="text/javascript" src="/materialize/js/materialize.js"></script>	
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script type="text/javascript">
	function validateField(){
		
		number = document.getElementById('number').value;
		type = document.getElementById('type').value;
		
		if (number === ''){
			alert('The number should be informed!'); 
			return false;
		}
		else if (type === '') {
			alert('The type should be informed!');
			return false;
		}

		return true;
	}
</script>
	
</body>
</html>













